body {
   width: 100%;
   margin: 0.3em auto;
   font: 0.875em Roboto, sans-serif;
   max-width: 960px;
   color: #0B1919;
}

.wrapper {
   clear: both; 
}

/*FONT*/
@font-face {
	font-family: "Flaticon";
	src: url("fonts/flaticon.eot");
	src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon.woff") format("woff"),
	url("fonts/flaticon.ttf") format("truetype"),
	url("fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
   font-family: Flaticon;
   font-size: 1.25em;
   font-style: normal;
   margin-right: 10px;
   color: gray;
}
.flaticon-avatar22:before {
	content: "\e000";
}
.flaticon-behance7:before {
	content: "\e001";
}
.flaticon-connector3:before {
	content: "\e002";
}
.flaticon-linkedin12:before {
	content: "\e003";
}
.flaticon-pencil124:before {
	content: "\e004";
}
.flaticon-profile3:before {
	content: "\e005";
}
.flaticon-send4:before {
	content: "\e006";
}
.flaticon-skype12:before {
	content: "\e007";
}
/*FONT ENDS*/


/*HEADER NAV BEGINS*/

.block-header {
   padding: 1em 1em;
   margin-bottom: 0.2em;
   background-color: #69D2E7;
   border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.block-header_logo {
   float: left;
}

.block-header_add-employee {
   float:right;
}

.block-header_edit-employee {
   float: right;
   margin-left: 1em;
}

.block-header a {
   color: #fff;
}

.block-header a:hover, .block-header a:active, .block-header a:focus {
   color: #F38630;
}
/*HEADER NAV ENDS*/


/*BLOCK DESCRIPTION BEGINS*/
.right-wrap {
   float:right;
   width:100%;
}

.block-emploee-description {
   box-sizing: border-box;
   height: 100%;
   margin-left:320px;
   border-radius: 0.5em 0.5em 0.5em 0.5em;
   box-shadow: 0px 1px 1px #C6D5CD;
   -webkit-box-shadow: 0px 1px 1px #C6D5CD;
   -moz-box-shadow: 0px 1px 1px #C6D5CD;
   -ms-box-shadow: 0px 1px 1px #C6D5CD;
   -o-box-shadow: 0px 1px 1px #C6D5CD;
}

/*EMPLOYEE DESCRIPTION HEADER BEGINS*/
.block-emploee-description_header {
   padding: 0.5em 1em;
   background-color: #E0E4CC;
   margin-bottom: 0.5em;
   font-size: 1.25em;
   box-shadow: 0px 1px 1px #C6D5CD;
   border-radius: 0.5em 0.5em 0px 0px;
}

.block-emploee-description_name {
   float: left;
   font-weight: 700;
}

.block-emploee-description_title {
   float: right;
}

.block-emploee-description_projects-list {
   clear: both;
   margin-left: 1em;
}

.block-emploee-description_projects-list_project {
   display: inline-block;
   font-size: 0.875em;
   margin: 1px;
   padding: 4px 8px;
   background-color: #69D2E7;
   cursor: pointer;
   border-right: 7px solid #A7DBDB;
   transition: background-color 0.3s, color 0.2s;   
}

.block-emploee-description_projects-list_project a{
   color: #fff;
}

.block-emploee-description_projects-list_project:hover, .block-emploee-description_projects-list_project:active, .block-emploee-description_projects-list_project:focus {
   cursor: pointer;
   background-color: #A7DBDB;
}
/*DESCRIPTION HEADER ENDS*/

/*MAIN DESCRIPTION BEGINS*/
.block-emploee-description_block-main-description {
   padding: 1em;
}

/*CONTACT BLOCK BEGINS*/
.block-emploee-description_block-main-description_block-contacts {
   float:right;
   box-sizing: border-box;
   margin-left: 1em;
   margin-bottom: 1em;
   width: 16em;
   padding: 1em 1em;
   background-color: #A7DBDB;
   border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.block-emploee-description_block-main-description_block-contacts_heading {
   margin-bottom: 0.5em;
   padding-bottom: 0.2em;
   font-weight: 700;
   border-bottom: 2px solid #F38630;
}

.block-emploee-description_block-main-description_block-contacts_email {
   max-width: 15em;
   overflow-x: hidden;
   text-overflow: ellipsis;
}
/*CONTACT BLOCK ENDS*/

.block-emploee-description_description {
   font-size: 1.1em;
   padding-bottom: 0.5em;
}
.block-emploee-description_list-description_department, .block-emploee-description_block-main-description_manager, .block-emploee-description_block-main-description_years, .block-emploee-description_block-main-description_tags-list {
   padding: inherit;
}

.block-emploee-description_list-description_department-title, .block-emploee-description_list-description_department-label, .block-emploee-description_block-main-description_manager-label, .block-emploee-description_block-main-description_years-label, .block-emploee-description_block-main-description_skills-label, .block-emploee-description_block-main-description_links_label {
   font-weight: 300;
}

.block-emploee-description_block-main-description_tags-list_tag {
   display: inline-block;
   padding: 0.1em 0.3em;
   margin-bottom: 0.2em;
   background-color: #E0E4CC;
   border-right: 6px solid #A7DBDB;
}

.block-emploee-description_block-main-description_links-list_link a{
   display: inline-block;
   max-width: 15em;
   max-height: 1.2em;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 1em;
   vertical-align: top;
}
/*BLOCK DESCRIPTION ENDS*/

/*EMPLOYEES LIST BEGINS*/
.block-employees {
   box-sizing: border-box;
   float: left;
   width: 33.7%;
   width: 315px;
   margin-right: -315px;
   padding-bottom: 1em;
   margin-bottom: 0.5em;
   border-radius: 0.8em 0.8em 0.5em 0.5em;
   box-shadow: 0px 1px 1px #C6D5CD;
   -webkit-box-shadow: 0px 1px 1px #C6D5CD;
   -moz-box-shadow: 0px 1px 1px #C6D5CD;
   -ms-box-shadow: 0px 1px 1px #C6D5CD;
   -o-box-shadow: 0px 1px 1px #C6D5CD;
}

.block-employees_title {
   padding: 0.5em 1em;
   background-color: #E0E4CC;
   margin-bottom: 0.5em;
   font-size: 1.25em;
   box-shadow: 0px 1px 1px #C6D5CD;
   border-radius: 0.5em 0.5em 0px 0px;
   font-weight: 700;
}

.block-employees_nav-departments_list {
   margin: 0.5em 1em;
}

.block-employees_nav-departments_list_department {
   display: inline-block;
   font-size: 0.875em;
   margin: 1px;
   padding: 4px;
   background-color: #E0E4CC;
   cursor: pointer;
}

.department1 {
   border-right: 7px solid #F38630;
   transition: background-color 0.3s, color 0.2s;
}

.department1:hover, .department1:active, .department1:focus, .department1.active {
   background-color: #F38630;
   color: #fff;
}

.department2 {
   border-right: 7px solid #F3B130;
   transition: background-color 0.3s, color 0.2s;
}

.department2:hover, .department2:active, .department2:focus, .department2.active {
   background-color: #F3B130;
   color: #fff;
}

.department3 {
   border-right: 7px solid #2D52A2;
   transition: background-color 0.3s, color 0.2s;
}

.department3:hover, .department3:active, .department3:focus, .department3.active {
   background-color: #2D52A2;
   color: #fff;
}

.department4 {
   border-right: 7px solid #1D948F;
  transition: background-color 0.3s, color 0.2s;
}

.department4:hover, .department4:active, .department4:focus, .department4.active {
   background-color: #1D948F;
   color: #fff;
}


/*LIST BEGINS*/
.block-employees_block-employee {
   box-sizing: border-box;
   display: block;
   padding: 0.5em 1em;
   cursor: pointer;
   box-shadow: 0px 1px 1px #C6D5CD;
   -webkit-box-shadow: 0px 1px 1px #C6D5CD;
   -moz-box-shadow: 0px 1px 1px #C6D5CD;
   -ms-box-shadow: 0px 1px 1px #C6D5CD;
   -o-box-shadow: 0px 1px 1px #C6D5CD;
}

.block-employees_block-employee_name {
   float: left;
   font-weight: 700;
   max-width: 6em;
   
}

.block-employees_block-employee_title {
   float: right;
}

.block-employees_block-employee_block-tags {
   clear: both;
   max-height: 2.5em;
   overflow: hidden;
}

.block-employees_block-employee_block-tags_tag {
   display: inline-block;
   font-size: 0.875em;
   font-weight: 300;
/*   background-color: #A7DBDB;*/
}

.block-employees_block-employee_block-tags_tag::after {
   content: ',';
}

.block-employees_block-employee_block-tags_tag:last-child::after {
   content: '';
}
/*EMPLOYEES LIST ENDS*/

/*FORM CREATE NEW EMPLOYEE BEGINS*/
.block-create-employee{
   width: 100%;
   max-width: 500px;
   margin: 0px auto;
   box-shadow: 0px 1px 1px #C6D5CD;
   -webkit-box-shadow: 0px 1px 1px #C6D5CD;
   -moz-box-shadow: 0px 1px 1px #C6D5CD;
   -ms-box-shadow: 0px 1px 1px #C6D5CD;
   -o-box-shadow: 0px 1px 1px #C6D5CD;
   border-radius: 0.5em;   
}

.heading-create-employee {
   padding: 0.5em 1em;
   background-color: #F38630;
   color: #fff;
   margin-bottom: 0.5em;
   font-size: 1.25em;
   box-shadow: 0px 1px 1px #C6D5CD;
   border-radius: 0.5em 0.5em 0px 0px;
   font-weight: 700;
}

.create-emloyee-form {
   padding: 1em;
}

.create-emloyee-form_list-field {
   margin-bottom: 1em;
}

.input-label {
   display: block;
   margin-bottom: 0.2em;
   font-size: 1.1em;
   line-height: 1.5em;
}

/*FORM BEGINS*/
input {
   box-sizing: border-box;
   width: 48%;
   height: 2em;
   margin-right: 0.5em;
   font-size: 1em;
   background-color: aliceblue;
   border: 1px solid #E0E4CC;
   border-radius: 0.5em;
   padding: 0 0.3em;
}

select {
   box-sizing: border-box;
   padding-right: 16px;
   margin-right: 0.5em;
   border: 1px solid #E0E4CC;
   border-radius: 0.5em;
   height: 2em;
   font-size: 1em;
   -webkit-appearance: none;
   -ms-appearance: none;
   -o-appearance: none;
   appearance: none;
   background: url(../images/down119.svg) no-repeat right aliceblue;
}

select::-ms-expand {
    display: none;
}

input[type="url"] {
  margin-bottom: 0.5em;
}

input[type="number"] {
   width: 6em;
}

select[name="department"] {
   width:11em;
}

select[name="month-career-start"] {
   width: 11em;
}

input[name="primary-skills"] {
   width:100%
}

input:focus, input.focus {
  box-shadow: 0 0 2px 1px #E0E4CC;
}

select:focus, select.focus {
  box-shadow: 0 0 2px 1px #E0E4CC;
}


/*FORM ENDS*/
/*FORM CREATE NEW EMPLOYEE ENDS*/

/*FOOTER BEGINS*/
.block-footer{
   clear: both;
   padding: 0.5em 0.5em;
   margin-bottom: 0.2em;
   background-color: #F38630;
   border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.block-footer_list-links {
   width: 13em;
   margin: auto;
   font-size: 0.875em;
}

.block-footer_list-links_link {
   display: inline-block;
   padding: 0.5em;
}
.block-footer_list-links_link a {
   color: #fff;
}

.block-footer_list-links_link a:hover, .block-footer_list-links_link a:active, .block-footer_list-links_link a:focus {
   color: #E0E4CC;
}

/*<!-- Footer ends  -->*/
